body {
    background-color: rgb(10, 16, 20);
    
}

main {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    min-width: 940px;
    
}

/* COMMON CLASSES */
div.user-avatar{
    width: 50px;
    height: 50px;
}

div.user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* EXPLORER CHATS */
div#explorer-chats{
    padding: 10px 0;
    overflow: hidden;
}

/* user-bar */
div#explorer-chats div#user-bar{
    height: 80px;
    background-color: #1F2C33;

    border: 1px solid red;
}

/* notification-config */
div#explorer-chats div#notifications-config{
    height: 100px;
    background-color: #182229;

    border: 1px solid red;
}

div#notifications-config span.icon-circle{
    width: 50px;
    height: 50px;
    background-color: #53BDEA;
}

div#notifications-config div#notifications-config-link h6{
    font-size: .85rem;
    text-decoration: none;
    cursor: pointer;
}

div#notifications-config div#notifications-config-link p{
    font-size: .75rem;
    display: inline;
    color: #8696A0;
}

div#notifications-config div#notifications-config-link p:hover{
    text-decoration: underline;
}

div#notifications-config div#notifications-config-link i{
    vertical-align: center;
    font-size: .6rem;
    color: #8696A0;
}

/* search-bar */
div#explorer-chats div#search-bar{
    height: 60px;
    background-color: #111B21;

    border: 1px solid red;
}

div#explorer-chats div#search-bar span.my-search-bar{
    background-color: #1F2C33;
    border-radius: 10px;
}

div#explorer-chats div#search-bar span.my-search-bar input{
    border: none;
    background-color: #1F2C33;;
}

div#explorer-chats div#messages{
    height: calc(100vh - 260px);
    background-color: #111B21;
    min-height: 80px;
    overflow-y: auto;

    border: 1px solid red;
}

/* CHAT */

div#chat{
    padding: 10px 0;
    overflow: hidden;
}

div#chat div#user-chat{
    height: 80px;
    background-color: #1F2C33;

    border: 1px solid red;
}

div#chat div#messages-chat{
    height: calc(100vh - 180px);
    overflow-y: auto;
    min-height: 160px;
    background-image: url("../img/wallpaper-black.jpeg");
    background-size: contain;

    border: 1px solid red;
}

div#chat div#new-message{
    height: 80px;
    background-color: #1F2C33;

    border: 1px solid red;
}



