<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- fontaweson -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- vuejs cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">

    <title>Vue Boolzapp</title>
</head>

<body>
    <!-- main with connection to vue -->
    <main id="app" class="px-5">

        <div class="container-fluid px-5">

            <div class="row">
                <!-- explorer chats left column -->
                <div id="explorer-chats" class="col-4">

                    <!-- user bar -->
                    <div id="user-bar" class="d-flex justify-content-between align-items-center px-3">

                        <div class="user-avatar">
                            <a href=""><img class="rounded-circle " src="img/user" alt="user avatar"></a>
                        </div>

                        <div class="user-icons fs-5">
                            <a href=""><i class="fa-solid fa-circle-notch text-secondary"></i></a>
                            <a href=""><i class="fa-solid fa-message mx-4 text-secondary"></i></a>
                            <a href=""><i class="fa-solid fa-ellipsis-vertical me-3 text-secondary"></i></a>
                        </div>

                    </div>

                    <!-- notifications config -->
                    <div id="notifications-config" class="d-flex align-items-center px-3">

                        <span
                            class="icon-circle rounded-circle d-flex justify-content-center align-items-center p-3 me-3">
                            <a href=""><i class="fa-solid fa-bell-slash text-dark fs-5"></i></a>
                        </span>

                        <div id="notifications-config-link">
                            <h6 class="text-white mb-0">Get notified of new messages</h6>
                            <a class="text-decoration-none" href="">
                                <p>Turn on desktop notifications</p><i class="fa-solid fa-angle-right ms-1"></i>
                            </a>
                        </div>

                    </div>

                    <!-- search-bar -->
                    <div id="search-bar" class="d-flex align-items-center px-3">

                        <span class="my-search-bar d-flex align-items-center px-3"><a
                                class="text-decoration-none text-secondary" href=""><i
                                    class="fa-solid fa-magnifying-glass"></i></a><input
                                class="form-control mr-sm-2 ms-2" type="search" placeholder="Search or start new chat"
                                aria-label="Search" v-model="searchContact"></span>

                    </div>

                    <!-- contacts messages -->
                    <div id="messages">

                        <div v-for="(contact, index) in contactsCopy"
                            v-if="(contact.name.toLowerCase().startsWith(searchContact.toLowerCase().trim()))"
                            class="single-message d-flex px-3 pt-3" @click="activeChat(contact, index)"
                            :class="(contact == currentChat) ? 'active' : ''">
                            <div class="contact-avatar" :class="((contact.messages.length - 1) >= 0) ? '' :'mb-2'">
                                <img class="rounded-circle " :src="'img/' + contact.avatar" alt="user avatar">
                            </div>
                            <div class="single-message-content d-flex ms-3 justify-content-between align-items-start">
                                <div class="single-message-content-text">
                                    <h6 class="text-white mb-0 my-text-medium mb-1">{{contact.name}}</h6>
                                    <p v-if="((contact.messages.length - 1) >= 0)"
                                        class="text-secondary mb-2 my-text-small">
                                        {{contact.messages[(contact.messages.length) - 1].message}}</p>
                                </div>
                                <div v-if="((contact.messages.length - 1) >= 0)"
                                    class="single-message-content-date text-center">
                                    <i class="fa-solid fa-chevron-down text-secondary mb-1 my-text-extra-small"></i>
                                    <p class="text-secondary mb-0 my-text-extra-small">{{transformDate(contact.messages[(contact.messages.length) - 1].date)}}</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <!-- if there is an active chat, right column -->
                <div v-if="(Object.keys(currentChat).length !== 0)"
                    id="chat" class="col-8">

                    <!-- user-chat -->
                    <div id="user-chat" class="d-flex align-items-center px-3"
                        :class="(Object.keys(currentChat).length === 0) ? 'justify-content-end' : 'justify-content-between'">

                        <!-- user-chat-info -->
                        <div class="user-chat-info d-flex align-items-center">

                            <div class="user-avatar">
                                <img class="rounded-circle " :src="'img/' + currentChat.avatar" alt="user avatar">
                            </div>
                            <div class="user-chat-name ms-3">
                                <h6 class="text-white mb-1">{{currentChat.name}}</h6>
                                <p class="text-secondary mb-0 my-text-small">Tap here for contact info</p>
                            </div>

                        </div>

                        <div class="user-icons fs-5">
                            <a href=""><i class="fa-solid fa-magnifying-glass mx-4 text-secondary"></i></a>
                            <a href=""><i class="fa-solid fa-ellipsis-vertical me-3 text-secondary"></i></a>
                        </div>

                    </div>

                    <!-- messages-chat active -->
                    <div v-if="(Object.keys(contactsCopy[currentChat.index].messages).length !== 0)" id="messages-chat" class="px-5 pt-4">
                        <div class="user-chat-messages">
                            <div class="user-chat-single-message mt-3 d-flex"
                                v-for="(message, indexMess) in currentChat.messages"
                                :class="(message.status == 'sent') ? 'justify-content-end pe-3 ':'justify-content-start ps-3'">
                                <div class="text-secondary user-chat-single-text d-flex align-items-center"
                                    :class="(message.status == 'sent') ? 'bg-success text-white':'my-bg-dark text-light'">

                                    <p class="pe-4 m-0 ms-3" @click="clickMessage(indexMess)"> {{message.message}} </p>
                                    <span class="ms-0 text-end me-2 position-relative my-text-extra-small">
                                        <i class="fa-solid fa-chevron-down text-light mb-0 mt-3"
                                            :class="(currentChat.messages[indexMess].clickedMessage) ? 'visible': 'invisible'"></i>
                                        <p class="m-0 mb-1">{{transformDate(message.date)}}</p>
                                        <div id="message-options"
                                            class="position-absolute bg-light text-dark text-start d-flex flex-column justify-content-center align-items-center"
                                            :class="(currentChat.messages[indexMess].clickedMessage)  ? 'visible': 'invisible'">
                                            <p class="m-0 mb-2 my-text-medium">Message info</p>
                                            <p class="m-0 my-text-medium" @click="deleteMessage(indexMess)">Delete Message</p>
                                        </div>
                                    </span>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div v-else id="messages-chat" class="px-5 pt-4">
                        
                    </div>

                    <!-- new-message -->
                    <div id="new-message" class="d-flex align-items-center">
                        <div class="icon-left text-center">
                            <i class="fa-regular fa-face-smile text-secondary fs-4"></i>
                        </div>
                        <div class="new-message-input">
                            <input class="form-control mr-sm-2" type="search" placeholder="Type a message"
                                aria-label="Search" v-model="newMessage" @keyup.enter="addNewMessage(newMessage)">
                        </div>
                        <div class="icon-right text-center">
                            <i class="fa-solid fa-microphone text-secondary fs-4"></i>
                        </div>
                    </div>
                </div>

                <!-- if there is not an active chat (default), right column -->
                <div v-else class="col-8 d-flex flex-column px-5 justify-content-center align-items-center"
                    id="pre-chat">
                    <img src="img/whatsApp-web.png" alt="whatsApp-web image">
                    <p class="text-light fs-1">WhatsApp Web</p>
                    <span class="px-3 text-center border-bottom border-secondary">
                        <p class="text-secondary my-text-small">
                            Ora puoi inviare e ricevere messaggi senza che il telefono sia connesso a internet. <br>
                            Usa WhatsApp su un massimo di 4 dispositivi e 1 telefono contemporaneamente.
                        </p>
                    </span>
                </div>
            </div>

        </div>



    </main>

    <!-- Day.js library cdn -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
    <script>
        dayjs.extend(window.dayjs_plugin_utc)
    </script>
    <script src="js/script.js"></script>
</body>

</html>